<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>List</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="item" placeholder="New todo item" />
      <button type="submit" name="button">+</button>
    </form>
  </body>
</html>
